button{
  width: 50%;
  height: 40px;
  font: bold 1.2rem serif;
  background: #000;
  color: #4c751c;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 200ms;
}

button:hover{
  background: #22272E;
  color: #76ba28;
  border: 3px solid whitesmoke;
  font-size: 1.6rem;
}